<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Тестовое задание - Papa John's</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
    <!-- Fontawesome -->
    <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css" type="text/css" media="screen"/>
    <!-- Custom Styles -->
    <link rel="stylesheet" href="css/comments.css" type="text/css"/>

    <!-- Angular JS -->
    <script type="text/javascript" src="js/angular.js"></script>
    <!-- Angular-Sanitize -->
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-sanitize.js"></script>
    <!-- Google Recaptcha 2 -->
    <script src='https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit'></script>
    <!-- Jquery -->
    <script type="text/javascript" src="js/jquery-2.2.2.js"></script>
    <!-- Bootstrap JS scripts -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- Angular-Recaptcha module-->
    <script type="text/javascript" src="js/angular-recaptcha.js"></script>
    <!-- Custom Angular Scripts -->
    <script type="text/javascript" src="js/angular_logic.js"></script>
</head>

<body>

<div class="container" ng-app="blog_app">

    <div id="main-content" class="col-md-8" ng-controller="postController as postCtrl">

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" ng-if="action_type=='create'">Новый комментарий</h4>
                        <h4 class="modal-title" ng-if="action_type=='reply'">Ответить на комментарий</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row margin-bottom">
                            <div class="col-md-6 margin-bottom">Ваше имя: <input required type="text" type="name" class="form-control" ng-model="user_name"></div>
                            <div class="col-md-6 margin-bottom">Ваш e-mail: <input  required type="text" type="email" class="form-control" ng-model="user_email"></div>
                        </div>
                        <div class="row margin-bottom">
                            <div class="col-md-12">Текст комментария:<br><textarea required class="form-control" rows="15" cols="60" ng-model='create_comment_value'></textarea></div>
                        </div>
                        <div vc-recaptcha ng-model="recaptcha" key="'6LcN4xsTAAAAAG3gTb0ewbVlk7g-W65TNyWRjO77'"></div>

                        <button type="button" class="btn btn-default postcomment" data-toggle="modal"
                                data-target="#myModal" ng-click="post_comment()">Комментировать </button>

                    </div>
                </div>
            </div>
        </div>

        <div class="content-box-content post_inner_content">
            <div class="blog_post_inner">
                <h4>{{post.title}}</h4>

                <p class="post_content" ng-bind-html="post.content"></p>

                <div class="clear"></div>
            </div>
            <div class="comments">
                <h4 ng-show="comments.length > 0">Комментарии:</h4>
                <div class="comment" ng-repeat="comment in comments" ng-include="'partials/commentTree.html'" ng-class="{'first' : $first, 'last' : $last}">

                </div>
                <div class="flex-center-button">
                    <button type="button" ng-click="show_comment_popup('new')" class="btn btn-info btn-lg" data-toggle="modal"
                            data-target="#myModal">Добавить комментарий
                    </button>
                </div>

            </div>
        </div>

    </div>

</div>

<script>

</script>
</body>
</html>
